@page
@model IndexModel
@{
    var numberSq = Enumerable.Range(1, 10);
    foreach (var number in numberSq)
    {
        var j = @number;
        var i = number + 10;
    }
    ViewData["Title"] = "Home page-1";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <section class="product-list">
        <article class="product-item">
            <img class="product-image" src="~/img/carrot-cake.jfif" alt="carrot-cake" />
            <h3 class="product-title">Carrot Cake</h3>
            <p class="product-description">Reciepe for carrot cake</p>
            <h5 class="product-price">Price</h5>
            <button type="button">Order Now</button>
        </article>
    </section>
</div>
