@page
@model bakery.Pages.OrderCodeModel
@{
}

<form method="post" class="col-9" enctype="multipart/form-data">
    <div class="form-group mb-3">
        <label asp-for="OrderEmail" class="form-label"></label>
        <input asp-for="OrderEmail" class="form-control">
        <span asp-validation-for="OrderEmail"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Quantity" class="form-label"></label>
        <input asp-for="Quantity" class="form-control">
        <span asp-validation-for="Quantity"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="ShippingAddress" class="form-label"></label>
        <textarea asp-for="ShippingAddress" class="form-control"></textarea>
        <span asp-validation-for="ShippingAddress"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="SubscribeNewsLetter" class="form-label"></label>
        <input checked="@(1 == 0)" asp-for="SubscribeNewsLetter">
    </div>
    <div class="form-group mb-3">
        <input type="file" asp-for="UploadedFile" />
    </div>
    @* <div class="form-group mb-3">
        <label asp-for="SubscribeNewsLetterNullable" class="form-label"></label>
        <input checked="@(1 == 0)" asp-for="SubscribeNewsLetterNullable">
    </div>

    @for(int i = 1;i <= 10; i++){
        <input asp-for="AreChecked" value="@i" />@i<br /> *@
}
    @* <div class="form-group mb-3">
        <label for="test" class="form-label">Test</label>
        <input type="text" name="test" class="form-control"/>
    </div> *@

    <h5 id="orderpricesum"></h5>
    <button type="submit" class="btn bn-sm btn-primary">Place order</button>
</form>


@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {

            $("#orderpricesum").text("Total sum: $ " + $("#Quantity").val() * 9.99);
            
            $("#Quantity").change(function () {
               if($(this).val() < 1)
                  {
                   $(this).val(1);
                  }
                $("#orderpricesum").text("Total sum: $ " + $(this).val()  * 9.99);
            });
        })
    </script>
}
@* // This is loaded before lauout scripts tags, giving error  *@
